.card-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    width: 200px;
    margin: 10px;
  }
  
  .card-link {
    text-decoration: none;
    color: inherit;
  }
  
  .card-body {
    padding: 10px;
  }
  

  
  .image-container {
    width: 100%;
    height: auto;
    display: block; 
    overflow: hidden; 
  }
  
 /* .image-container img {
    width: 100%;
    height: auto;
    display: block; 
    margin: 0 auto;
  }*/
