<!DOCTYPE html>
<html lang="en">
  <div *ngIf="isLoading">
    Body Diary Not Found...
  </div>
  <div *ngIf="!isLoading">
    <body>

      <div class="container">
        <div class="row">
          <div class="col">
            <div class="chart-container">
              <p-chart class="ui-chart"type="line" [data]="chartData" [responsive]="true"></p-chart>
            </div>
          </div>
        </div>
      </div>
    
      <div class="container-fluid text-center">
        <div class="row content">
          <div class="col-sm-1">
           
            <div *ngIf="bodyDiary">
              <a class="btn btn-primary" href="/createbodydiaryweekly" [ngStyle]="{ 'margin-bottom.px': '10' }">Create Body Diary Weekly</a>
              <a class="btn btn-primary" href="/createworkoutplan">Create Training Plan</a>
            </div>
           
          </div>
       <!--
      <div class="col-sm-8 text-left">
          <div class="card-container">
            <div class="card kisebb" *ngFor="let bodyDaryWeekly of bodyDaryWeeklyList"  (click)="openModel(bodyDaryWeekly)">
              <div class="card-body">
                <p class="title">{{ bodyDaryWeekly.weight }} Kg</p>
              </div>
              <div class="image-container">
                <img src="data:image/png;base64,{{ bodyDaryWeekly.photo.photoData }}" alt="{{ bodyDaryWeekly.weight }}">
              </div>
            </div>
            <div class="card kisebb" *ngFor="let workoutPlan of workouPlanList"  (click)="openModelW(workoutPlan)">
              <div class="card-body">
                <p class="title">Burned Calories: {{ workoutPlan.burnedCalories }}</p>
              </div>
              <div class="image-container">
                <img src="./assets/images/weekly-workout-schedule.png" class="me-3" alt="Logo" width="75" height="75">
                
              </div>
            </div>
       
  
  
          </div>
        </div>
        -->
       

     <!--
           
        -->  

        <div class="col-sm-8 text-left">
          <div class="card-container">
            <ng-container *ngFor="let item of allItems">
              <ng-container *ngIf="isBodyDiaryWeekly(item)">
                <app-card-bodydiary [item]="item" ></app-card-bodydiary>
              </ng-container>
              <ng-container *ngIf="isWorkoutPlan(item)">
                <app-card-workoutplan [item]="item"></app-card-workoutplan>
              </ng-container>
            </ng-container>
          </div>
        </div>


          <div class="col-sm-3 custom-column">
            <div>
              <div class="card" (click)="openModelS(bodyDiary)">
                <div>
                  <p class="title">Age:{{ bodyDiary.age.toString().toLowerCase() }}</p>
                  <p class="title">Height:{{ bodyDiary.height.toString().toLowerCase() }} cm </p>
                  <p class="title">Weight:{{ bodyDiary.weight.toString().toLowerCase() }} kg</p>
                  <p class="title">Starter Body Fat:{{ bodyDiary.bodyFat.toString().toLowerCase() }} %</p>
                  <p class="title">Maintain Weight:{{ bodyDiary.maintainWeight.toString().toLowerCase() }} kcal</p>
                  <p class="title">Weight Loss:{{ bodyDiary.weightLoss.toString().toLowerCase() }} kcal</p>
                  <p class="title">Weight Gain:{{ bodyDiary.weightGain.toString().toLowerCase() }} kcal</p>
                  <p class="title">Created At:{{ bodyDiary.created_at.toString().toLowerCase() | date:'yyyy-MM-dd' }}</p>
                </div>

              </div>
            </div>
          </div>
          
        </div>
      </div>
        
    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
    
          <!-- Modal Header -->
          <div class="modal-header">
            <p class="title">Weight: {{ selectedCardData?.weight }} Kg</p>
            <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModelS()"></button>
          </div>
    
          <!-- Modal body -->
          <!-- Modal body -->
          <div class="modal-body">
              <a class="nav-brand">
        
                  <img src="data:image/png;base64,{{ selectedCardData?.photo?.photoData }}"  style="max-width: 100%; height: auto;">
              </a>
          </div>
    
        </div>
      </div>
    </div>
    
   
   
    
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    </body>
  </div>


</html>
