<a class="btn btn-primary" href="/create">Create exercise</a>


<div class="row">
  <div class="col-md-6" *ngFor="let exercise of exerciseList">
    <a routerLink="{{exercise.id}}" class="card-link">
      <div class="card mb-3">
        <div class="card-body">
          <p class="title">{{ exercise.title }}</p>
        </div>
        <div class="view overlay">
          <img class="img-fluid" src="{{ exercise.photo.photoData }}" alt="{{ exercise.title }}">
        
        </div>
      </div>
    </a>
  </div>
</div>