<div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-header">
          <h2 class="display-5">Body Diary Weekly</h2>
        </div>
        <div class="card-body">
          <form
            class="form"
            #bodyDiaryWeeklyFrom="ngForm"
            (ngSubmit)="bodyDiaryWeeklyFrom.form.valid && createBodyDiaryWeekly()"
            novalidate
            autocomplete="off"
          >






          <div class="mb-3">
            <label for="weight" class="form-label">Weight (KG)</label>
            <input
            type="number"
              class="form-control"
              [(ngModel)]="bodyDiaryWeekly.weight"
              name="weight"
              #weightInput="ngModel"
              [required]="true"
            >
            <span
                class="text-danger"
                *ngIf="(weightInput.touched || bodyDiaryWeeklyFrom.submitted) && weightInput.errors?.['required']"
              >
              Weight is required
              </span>
          </div>

        
  
            <div class="mb-3">
              <input type="file" (change)="onFileSelected($event)" />
              <button class="btn btn-primary" type="submit">
                Create Body Goal Weekly
              </button>
  
              <div
                *ngIf="!selectedFile && (bodyDiaryWeeklyFrom.submitted || showAlert)"
                class="text-danger"
              >
                File is required
              </div>
            </div>
            <div *ngIf="showAlert" class="alert alert-success" role="alert">
              {{
              "Exercise successfully created!"
              }}
              <button class="btn btn-primary" [routerLink]="['/bodydiary']">Back</button>
            </div>

              
              <!-- The Modal -->
              


              
          </form>
        </div>
      </div>
    </div>
  </div>
  