<div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-header">
          <h2 class="display-5">Workout Plan</h2>
        </div>
        <div class="card-body">
          <form class="form" #workoutPlanFrom="ngForm" (ngSubmit)="workoutPlanFrom.form.valid && createWorkoutPlan()" novalidate autocomplete="off">
            <div class="mb-3">
              <mat-form-field>
                <mat-label>Select Exercises</mat-label>
                <mat-select [formControl]="selectedExercisesControl" multiple>




                  <mat-option *ngFor="let exercise of exercises" [value]="exercise.id">{{ exercise.title }}</mat-option>
                
                </mat-select>
              </mat-form-field>
            </div>
  
            <div class="mb-3">
              <label for="workoutTime" class="form-label">Workout Time (Minutes)</label>
              <input type="number" class="form-control" [(ngModel)]="workoutPlan.workoutTime" name="workoutTime" #workoutTimeInput="ngModel" [required]="true">
              <span class="text-danger" *ngIf="(workoutTimeInput.touched || workoutPlanFrom.submitted) && workoutTimeInput.errors?.['required']">Workout Time is required</span>
            </div>
  
            <div class="mb-3">
              <button class="btn btn-primary" type="submit">Create Workout Plan</button>
            </div>
            <div *ngIf="showAlert" class="alert alert-success" role="alert">
              {{ "Workout Plan successfully created!" }}
              <button class="btn btn-primary" [routerLink]="['/bodydiary']">Back</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  